* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #1ebfc1;
  --title-color: #0d1111;
}

/* ============ Common ============ */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: auto;
}

.btn {
  display: inline-block;
  min-width: 186px;
  padding: 25px 0;
  border-radius: 14px;
  background: var(--primary-color);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.btn:hover {
  opacity: 0.9;
}

a {
  text-decoration: none;
}

h2 {
  margin-top: 18px;
  width: 577px;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33;
}

/* ============ Header ============ */
.header {
  position: sticky;
  top: -40px;
  padding: 52px 0 12px;
  z-index: 1;
  background: #fff;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar .list {
  display: flex;
  margin-left: 21%;
  gap: 39px;
}

.navbar .list a {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400;
}

.navbar .list a:hover,
.navbar .actions .signin-btn:hover {
  text-shadow: 1px 0 0 currentColor;
}

.navbar .actions {
  display: flex;
  align-items: center;
  margin-left: 177px;
  gap: 24px;
}

.navbar .actions .signin-btn {
  width: 53px;
  color: #494949;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}

.navbar .actions .signup-btn {
  display: inline-block;
  min-width: 108px;
  padding: 15px 0;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  text-align: center;
}

.navbar .actions .signup-btn:hover {
  background: var(--primary-color);
  color: #fff;
  border: 1px solid #fff;
}

/* ============ Hero ============ */

.hero {
  padding: 38px 0 79px;
  background: #fff;
}

.hero-row {
  display: flex;
  justify-content: space-between;
}

.hero .info {
  width: 39.1%;
  padding: 93px 0;
}

.hero .info .note {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero .info .title {
  margin-top: 18px;
  color: var(--title-color);
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
}

.hero .info .desc {
  margin-top: 46px;
  width: 374px;
  color: #9da6a5;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77;
  word-break: break-word;
}

.hero .info .start-btn {
  margin-top: 52px;
}

.hero .info .play {
  margin-left: 50px;
  border: none;
  width: 62px;
  height: 62px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.hero .media {
  position: relative;
  width: 54.8%;
  height: 631px;
}

.hero .media .hero-img {
  display: block;
  margin-left: auto;
  width: 576px;
  height: 631px;
  object-fit: cover;
}

.hero .summary {
  position: absolute;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .summary .sub-title {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
}

.hero .box-1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  top: -482px;
  left: 25px;
  padding: 0 25px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
}

.hero .title-box1::before {
  position: absolute;
  bottom: 25px;
  left: 29px;
  display: inline-block;
  content: "";
  width: 28px;
  height: 4px;
  background: #fff;
  border-radius: 4px;
}

.hero .box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 46px;
  width: 124px;
  height: 132px;
  border-radius: 24px;
}

.hero .box-3 {
  right: 45px;
  bottom: 41px;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  padding: 17px 0 17px 35px;
}

.hero .box-3 .icon-box {
  display: flex;
}

.hero .box-3 .avt,
.hero .box-3 .qty {
  display: block;
  margin: 8px 0 0 -7px;
  width: 33px;
  max-width: 100%;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
}

.hero .box-3 .qty {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.hero .box-3 .qty p {
  width: 24px;
  transform: translateY(1px);
}

/* ============ Features ============ */
.features {
  padding-top: 130px;
}

.features .desc {
  margin-top: 18px;
  width: 590px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
}

.features .list {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  width: 1024px;
}

.features .list .name {
  display: block;
  margin-top: 26px;
  color: #0d1111;
  font-size: 20px;
  font-weight: 600;
}

.features .list .detail {
  margin-top: 16px;
  width: 224px;
  color: #9da6a5;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.68;
}

/* ============ Courses ============ */
.courses {
  padding-top: 130px;
}

.courses .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 19px;
}

.courses .row .desc {
  width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77;
}

.courses .row .actions {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}

.courses .list {
  display: flex;
  margin-top: 79px;
  gap: 47px;
}

.courses .list .items {
  position: relative;
  width: calc((100% - 94px) / 3);
}

.courses .items .image {
  width: 359px;
  height: 393px;
  border-radius: 8px;
  opacity: 0.6;
  background: #d0efed;
}

.courses .items .info {
  position: absolute;
  left: 17px;
  bottom: -124px;
  width: 325px;
  height: 195px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 50px 0px rgba(0, 0, 0, 0.2);
}

.courses .items .info .content {
  padding: 20px 0 29px 25px;
}

.courses .items .info .name {
  padding: 1px;
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.courses .items .info .fee {
  margin-top: 16px;
  padding: 10px 0;
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
}

.courses .items .info .price {
  padding: 1px 0;
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.courses .items .info .desc {
  margin-top: 6px;
  padding: 0.5px 0 2px;
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
}

.courses .items .info .number {
  display: flex;
  margin-top: 18px;
  padding: 3.5px 0;
  gap: 10px;
}

.courses .items .info .qty {
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
}

.courses .items .info .qty::before {
  display: inline-block;
  content: "";
  margin-right: 10px;
  width: 6px;
  height: 6px;
  background: #1ebfc1;
  border-radius: 50%;
  transform: translateY(-30%);
}

.courses .summary {
  display: flex;
  justify-content: center;
  margin-top: 389px;
  gap: 200px;
}

.courses .summary .items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses .summary .number {
  display: block;
  padding: 15.5px 0;
  font-size: 6.2rem;
  font-weight: 700;
  color: #0d1111;
}

.courses .summary .text {
  padding-top: 14px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #767e7e;
}

/* ============ Review ============ */
.review {
  padding: 264px 0 130px;
}

.review .body {
  display: flex;
  justify-content: space-between;
  height: 481px;
}

.review .content-block {
  padding: 37px 0;
  width: 35%;
  height: 407px;
}

.review .content-block .quote {
  margin-top: 27px;
  width: 419px;
  height: 192px;
  color: #5d6564;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.review .content-block .sign {
  margin-top: 33px;
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
}

.review .content-block .sign strong {
  color: #070707;
  font-weight: 600;
}

.review .content-block .actions {
  display: flex;
  padding-top: 52px;
  gap: 30px;
}

.review .content-block .chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 50px;
  height: 50px;
  background: #2ac9bf;
  border-radius: 50%;
}

.review .content-block .chevron:hover {
  opacity: 0.9;
  cursor: pointer;
}

.review .avt-block {
  position: relative;
  width: 65%;
}

.review .avatar {
  position: absolute;
  width: 78px;
  height: 78px;
  object-fit: cover;
  border-radius: 50%;
}

.review .avt-1 {
  top: 0;
  left: 216px;
  width: 92px;
  height: 92px;
}

.review .avt-2 {
  top: 19px;
  right: 0;
  width: 110px;
  height: 110px;
}

.review .avt-3 {
  top: 258px;
  left: 72px;
}

.review .avt-4 {
  top: 107px;
  left: 345px;
  width: 235px;
  height: 235px;
}

.review .avt-5 {
  bottom: 0;
  left: 284px;
}

.review .avt-6 {
  bottom: 29px;
  right: 32px;
}

/* ============ Ready ============ */
.ready {
  background: #def6f5;
}

.ready .body {
  display: flex;
  align-items: center;
  height: 272px;
}

.ready .info {
  width: 35.8%;
}

.ready .sub-title {
  margin-top: 0;
}

.ready .desc {
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}

.ready .btn {
  margin-left: 410px;
}
/* ============ Footer ============ */
.footer {
  margin-top: 130px;
}

.footer .body {
  display: flex;
  justify-content: space-between;
}

.footer .heading {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
}

.footer .list {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  gap: 20px 0;
}

.footer .list .items {
  color: #535353;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer .social-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}

.footer .social-name {
  display: inline;
  padding-left: 9px;
}

.footer .bottom {
  display: flex;
  justify-content: center;
  margin: 80px 0 50px;
}

.footer .copyright {
  color: #b0b5b4;
  font-size: 1.8rem;
  font-weight: 400;
}
